table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
}
th {
  background-color: #f2f2f2;
  color: black;
  border: 1px solid black;
}
.table {
  padding: 0px 25px;
}
.nav-link {
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin: 20px 0px;
}
.bg-img {
  background: url("./pic/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
